/*
    FILE:           matapoisett.css
    AUTHOR:         mmiddleton
    DESCRIPTION:    This is the default CSS profile for the Mattapoisett Lions main website.  
*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../img/hero.png");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}

.mat-light-blue { color: #fff; background: #00338d!important;}
.mat-blue { color: #fff!important; background:#00112e!important;}
.mat-yellow { color: #00338d!important; background:#fff4cc!important;}


.mat-lions-bg {
    background-image: url('../img/lci-logo-vector.png');
    background-position: center;
    background-repeat: no-repeat;
}

.mat-map-bg {
    background-image: url('../img/map.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mat-dropdown {
    padding: 16px 0;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .mat-hide-on-mobile { display: none; }
}